<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="divs.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="red-square"></div>

    <div>
      <div class="modal-box">
        <p id="text-box">Satisfied with our service?</p>
        <button class="modal-box-btn">Yes</button>
        <button class="modal-box-btn">No</button>
      </div>
    </div>

    <div class="youtube">
        <p class="header">Install YouTube Music</p>
        <p class="info">Add YouTube Music to your desktop for quick and easy access</p>
    </div>

    <div class="cover">
      <div class="friends">
        <img class="friend-pic" src="cat.jpg">
        <p class="friend-name">Oliver</p>
        <p class="mutual-friends">2 mutual friends</p>
        <button class="add-friend-btn">Add Friend</button>
      </div>

      <div class="friends">
        <img class="friend-pic" src="cat2.jpg">
        <p class="friend-name">Mimi</p>
        <p class="mutual-friends">3 mutual friends</p>
        <button class="add-friend-btn">Add Friend</button>
      </div>
      <div class="friends">
        <img class="friend-pic" src="dog.jpg">
        <p class="friend-name">Rex</p>
        <p class="mutual-friends">4 mutual friends</p>
        <button class="add-friend-btn">Add Friend</button>
      </div>
    </div>
    
  </body>
</html>
